.nvbr {
    background-color: #343941;
    color: white;
}

.smile {
    max-width: 250px;
    margin-bottom: 0.5rem;
}

.head1 {
    color: white;
}

.bg-pea {
    background-color: #1abc9c;
    color: white;
}

.star-container .contact {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}
